---
- name: Setup vscode yum repository
  yum_repository:
    name: Visual Studio Code
    baseurl: https://packages.microsoft.com/yumrepos/vscode
    enabled: true
    gpgcheck: true
    gpgkey: https://packages.microsoft.com/keys/microsoft.asc

- name: Install vscode
  package:
    name: code
    state: present
