---
- include_tasks: packages.yml

- include_tasks: user.yml

- name: Remove DNS Entry in Interface
  lineinfile:
    path: /etc/sysconfig/network-scripts/ifcfg-ens192
    state: absent
    regexp: ^DNS

- name: Configure DNS
  template:
    src: resolv.conf.j2
    dest: /etc/resolv.conf


- name: Disable selinux
  selinux:
    state: disabled

- include_tasks: patch.yml
